body {
    background-size: 100%;
    background-repeat: repeat;
    font-family: Helvetica;
    font-size: 12px;
}

.main {
    position: fixed;
    /* Stay in place */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
}

.menu {
    position: fixed;
    display: none;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    font-family: Helvetica;
    font-size: 125%;
    font-weight: bold;
}

.dropdown-menu {
    font-size: 100%;
}

/*.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;    
}*/